In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('comparisons.csv')

In [3]:
data = data.assign(Score = lambda x: x['peak memory mb'] * x['total time min']).sort_values(['finished', 'rows', 'Score'], ascending=[False, False, True])
data

,method,rows,image size mb,peak memory mb,total time min,type,Handles rotating credentials?,platform,finished,Score,notes
0,pg_dump/pg_restore,"41,011,955.00",145.0,34.0,3.000000,EL,True,postgresql,True,102.000000,This is purely EL job for postgresql. It need...
1,sling,"41,011,955.00",145.0,55.0,6.000000,EL,True,go,True,330.000000,NaN
2,pyspark_copy,"41,011,955.00",1720.0,955.0,3.000000,ETL,True,python,True,2865.000000,NaN
3,pyspark_write,"41,011,955.00",1610.0,1075.0,4.500000,ETL,True,python,True,4837.500000,NaN
4,duckdb_copy_parquet,"41,011,955.00",566.0,3985.0,1.500000,ETL,True,c,True,5977.500000,Only sql
5,duckdb_copy,"41,011,955.00",566.0,3148.0,2.000000,ETL,True,c,True,6296.000000,Only sql
6,spark_write,"41,011,955.00",1330.0,2053.0,5.000000,ETL,True,scala,True,10265.000000,NaN
7,polars_connectorx_copy,"41,011,955.00",943.0,11330.0,5.000000,ETL,True,python,True,56650.000000,NaN
8,polars adbc copy,"41,011,955.00",841.0,11320.0,6.000000,ETL,True,python,True,67920.000000,NaN
9,pg_dump/pg_restore,"2,000,000.00",145.0,20.0,0.050000,EL,True,postgresql,True,1.000000,This is purely EL job for postgresql. It need...
10,duckdb_copy,"2,000,000.00",566.0,345.0,0.016667,ETL,True,c,True,5.750000,Only sql
11,polars adbc copy,"2,000,000.00",841.0,587.0,0.050000,ETL,True,python,True,29.350000,NaN
12,polars_connectorx_copy,"2,000,000.00",943.0,600.0,0.050000,ETL,True,python,True,30.000000,NaN
13,pyspark_copy,"2,000,000.00",1720.0,809.0,0.083333,ETL,True,python,True,67.416666,NaN
14,pyspark_write,"2,000,000.00",1610.0,960.0,0.250000,ETL,True,python,True,240.000000,NaN
15,pandas read_sql_copy,"2,000,000.00",693.0,400.0,1.000000,ETL,True,python,True,400.000000,NaN
16,spark_write,"2,000,000.00",1330.0,1775.0,0.500000,ETL,True,scala,True,887.500000,NaN
17,modin_copy,"2,000,000.00",1480.0,2488.0,0.500000,ETL,True,python,True,1244.000000,NaN
18,polars_connectorx_write,"2,000,000.00",1140.0,1867.0,1.500000,ETL,True,python,True,2800.500000,NaN
19,modin_to_sql,"2,000,000.00",1480.0,10000.0,2.500000,ETL,True,python,True,25000.000000,ran out of memory. 16 GB machine.
20,pandas read_sql_to_sql,"2,000,000.00",693.0,7700.0,5.000000,ETL,True,python,True,38500.000000,NaN
21,modin_to_sql,"41,011,955.00",1480.0,12410.0,NaN,ETL,True,python,False,NaN,ran out of memory. 16 GB machine.
22,polars_connectorx_write,"41,011,955.00",1140.0,13450.0,NaN,ETL,True,python,False,NaN,ran out of memory. 16 GB machine.
23,modin_copy,"41,011,955.00",1480.0,13600.0,NaN,ETL,True,python,False,NaN,ran out of memory. 16 GB machine.
24,pandas read_sql_copy,"41,011,955.00",693.0,13960.0,NaN,ETL,True,python,False,NaN,ran out of memory. 16 GB machine.
25,pandas read_sql_to_sql,"41,011,955.00",693.0,14000.0,NaN,ETL,True,python,False,NaN,ran out of memory. 16 GB machine.
26,datafusion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,only reads csv
27,ballista/datafusion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,only reads parquet